<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esgi.googlenews" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.esgi.googlenews.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IhmActivity"
            android:label="@string/title_activity_ihm" >
        </activity>
        <activity
            android:name=".ArticlesPrintActivity"
            android:label="@string/title_activity_articles_print" >
            <intent-filter>
                <action android:name="com.scytec.datamobile.vd.gui.android.AppPreferenceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayArticlesActivity"
            android:label="@string/title_activity_display_articles" >
        </activity>
        <activity
            android:name=".ChooseActivity"
            android:label="@string/title_activity_choose" >
        </activity>
        <activity
            android:name=".InternetReadActivity"
            android:label="@string/title_activity_internet_read" >
        </activity>
        <activity
            android:name=".InternetReadOffLineActivity"
            android:label="@string/title_activity_internet_read_off_line" >
        </activity>
        <activity
            android:name=".GoOrDeleteActivity"
            android:label="@string/title_activity_go_or_delete" >
        </activity>
        <service android:name=".Modeles.UpdateListArticlesService" />
    </application>

</manifest>
